<html lang="en">
<head>
<meta charset="utf-8">
<title>Question List</title>
<link rel="stylesheet" type="text/css" href="../assets/css/ListStyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="container">
  <section id="content"><center>
    <form action=""><br/>
        <h1>Question List</h1><br/>
            <table id="users">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Question Id</th>
                  <th>Subject Code</th>
                  <th>Subject Name</th>
                  <th>Question</th>
                  <th>Option 1</th>
                  <th>Option 2</th>
                  <th>Option 3</th>
                  <th>Option 4</th>
                  <th>Answer</th>
                  <th>Created On</td>
                </tr>
              </thead>
              <tbody id="question-content"></tbody>
            </table>
            <input type="button" value="Back" onclick=window.location.href="../views/Admin/AdminDashBoard.html">
    </form><br/>
  </section>
</div>
</body>
<script src="../service/QuestionManager.js"></script>
<script src="../service/DynamicElements.js"></script>
<script src="../assets/js/QuestionList.js"></script>
</html>