<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Change Password</title>
<link rel="stylesheet" type="text/css" href="../../assets/css/UserStyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<br/><br/>
<div class="container">
  <section id="content">
    <form action="" id="form">
      <h1>Password</h1>
      <div>
        <input type="email" placeholder="Email" required id="email" autofocus/>
      </div>
      <div>
        <input type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}" required id="password" autofocus />
      </div>
      <div>
          <input type="password" placeholder="Reenter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}" required id="reenter" autofocus/>
          <i class="far fa-eye-slash" id="togglePassword" style="cursor: pointer;" onmouseover="showpass()" onmouseout="hidepass()">Show Password</i>
      </div>
      <div><br/>
          <center><canvas id="captcha" width="200" height="70" style="color:black;">captcha text</canvas></center>
          <i class="fa fa-refresh" style="cursor: pointer; margin-top:-50px; margin-bottom:10px;" onclick="refreshCaptcha()"> Refresh Captcha</i><br/>
          <input id="textBox" type="text" name="text">
      </div>
      <br/>
      <label id="errorMessage" style="color:red; font-size:110%;"></label>
      <div class="center">
          <input type="button" value="Back" onclick=window.location.href="Login.html"></center>
          <input type="submit" value="Submit" id="submit"/>
      </div>
      <div id="message" style="text-align:left;">
          <h3 style="margin-left:40px;">Password must contain the following:</h3>
          <p id="letter" class="invalid" style="margin-left:70px;">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid" style="margin-left:70px;">A <b>capital (uppercase)</b> letter</p>
          <p id="number" class="invalid" style="margin-left:70px;">A <b>number</b></p>
          <p id="length" class="invalid" style="margin-left:70px;">Minimum <b>8 characters</b></p>
      </div>
      <div id="message1" style="text-align:left;">
          <h3 style="margin-left:40px;">Password must contain the following:</h3>
          <p id="letter1" class="invalid" style="margin-left:70px;">A <b>lowercase</b> letter</p>
          <p id="capital1" class="invalid" style="margin-left:70px;">A <b>capital (uppercase)</b> letter</p>
          <p id="number1" class="invalid" style="margin-left:70px;">A <b>number</b></p>
          <p id="length1" class="invalid" style="margin-left:70px;">Minimum <b>8 characters</b></p></center>
      </div><br/>
    </form>
  </section>
</div>
</body>
<script src="../../service/UserManager.js"></script>
<script src="../../assets/js/ChangePassword.js"></script>
</html>