<html lang="en">
<head>
<meta charset="utf-8">
<title>Instructions</title>
<link rel="stylesheet" type="text/css" href="../../assets/css/UserStyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="container">
  <br/>
  <section id="content">
    <form action="">
        <h1>Instructions</h1> 
        <div style="margin-left:30px">
            <li>The test has time limit</li>
            <li>Select the correct options</li>
            <li>Each question carry 1 mark</li>
            <li>No negative marking</li>
            <li>You can submit only one time</li>
        </div>
        <br/>
        <div class="center">
            <input type="button"  id="start"  onclick=window.location.href="Questions.html" value="START"/>
        </div>
    </form><br/>
  </section>
</div>
</body>
</html>